a {
	color: #6366F1;
}

a:focus, a:hover {
    color: #1900da;
}

/*@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Poppins Light';
    src: url('/fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('/fonts/Poppins-Bold.ttf');
}*/

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", Arial, sans-serif;
}

.h2, h2 {
    font-size: 32px;
}

.border-box{
 text-align: center;
}

.top-bg {
    background-color: rgba(47,47,47,0.6);
}

.navbar-brand {
	color: #fff;
}

.blue-btn{
	background-color: #6366F1;
	text-transform: none;
	font-size: 16px;
}

.blue-btn:hover, .blue-btn:active, .blue-btn:focus{
	background-color: #085aef;
}

header .header-content .header-content-inner h1 {
	text-transform: none;
}

header .header-content .header-content-inner p {
	color: rgba(255, 255, 255, 0.9);
}


.aboutParagraph p {
	margin-bottom: 24px;
	line-height: 24px;
}

.AboutSpacing {
    padding: 0 73px;
}

.overideClose {
    font-size: 55px;
    opacity: unset;
    color: #fff;	
}

.modalHeaderResize {
	padding: 5px;
}



.bg-primary {
	background: #3985e9 !important;
	/* background-color: #3181b9; */
}

.colorBTN {
    color: #6366F1;
    text-transform: none;
    font-size: 16px;
}

.colorBTN:hover {
	color: #085aef;
}

.light {
    border-color: #fff;
}

.text-primary {
    color: #383838;
}

.text-muted {
    color: #5a5555;
	}

.portfolio-bg{
	background: #f5f7fa;
	/* background: #f2f2f2; */
}


/* Demo Videos */

.demoVideo:focus {
	outline: none;
}

.modal-content {
    background: transparent;
    border: none;
    box-shadow: none;
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    padding: 5px;
}

.hdVideoSize{
	width: 275px; 
	height: auto;
}

.ckVideoSize {
	width: 100%; 
	height: auto;
}

#contact {
    background: #1c1c1c;
    color: #fff;
}

hr {
    border-color: #7b7b7b;
}

.hr-primary {
	margin-bottom: 32px;
}

.portfolio-box .portfolio-box-caption{
	background: rgba(53, 53, 53, 0.7);
}

.icon-color {
	color: #141920;
}

.portContent {
	padding: 10px 0 35px 0;
	text-align: center;
}

.portContent p {
	margin-bottom: 32px;
}

.portlink a:hover, .portlink a:active, .portlink a:visited, .portlink a:focus {
    text-decoration: none;
}

.portlink {
    margin: 0;
}

.portlink a {
    border: 1px solid #6366F1;
    border-radius: 60px;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    text-transform: none;
	font-size: 14px;
	font-weight: 600;
}

.portlink a:hover {
    background-color: #085aef;
    color: #fff;
    border-color: #085aef;
}

.portTitleSize {
	margin: 8px 0 16px 0;
	font-size: 20px;
}

/* .portContentHeight {
    height: 243px;
    position: relative;
}*/

.portContentHeight .portlink {
    /* position: absolute;
    bottom: 0;
    left: 0;
	right: 0; */
	margin-bottom: 35px;
}

.navbar-default .nav > li.active > a, .navbar-default .nav > li.active > a:focus {
		color: #085aef !important;
}


/* Mobile Responsive */

@media screen and (max-width: 1200px) {
	/* .portContentHeight {
		height: 100%;
	}	

	.portContentHeight .portlink {
		position: static;
	} */

	.AboutSpacing {
		padding: 0 0;
	}

}

@media screen and (max-width: 1200px)  and (min-width: 768px) {
	.portlink a{
		display: block;
	}
}


@media (min-width: 768px){
	.navbar-default .navbar-header .navbar-brand{
		color: #ffffff;
	}


	.navbar-default.affix .navbar-header .navbar-brand {
	    color: #3985e9;
	    font-size: 14px;
	}

	 .navbar-default.affix .navbar-header .navbar-brand:hover, .navbar-default.affix .navbar-header .navbar-brand:focus {
	 	color: #3181b9 ;
	 }

	 .navbar-default.affix .nav > li > a:hover, .navbar-default.affix .nav > li > a:focus:hover {
	 	color: #085aef;
	 085aef}

	header .header-content .header-content-inner h1 {
	    font-size: 60px;
	}


}


@media only screen and (max-width: 767px) {
    .top-bg {
	    background-color:#fff;
	}

	.navbar-default .navbar-header .navbar-brand {
	    color: #3181b9;
	    font-size: 14px;
	}

	.navbar-default .navbar-header .navbar-brand:focus, .navbar-default .navbar-header .navbar-brand:hover {
		color: #3181b9 ;
	}	
	
	.tablet-bottom-space {
	    margin-bottom: 40px;
	}

}